[SddmGreeterTheme]
Name=SDDM_Plasma Federation
Description=SDDM_Plasma Federation Theme
Author=creativity
License=GPLv3
Type=sddm-theme
Version=0.2
Website=https://www.pling.com/p/2203854
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=rw1@rowlo.de 
Theme-Id=sddmPlasmaFederation
Theme-API=2.0
QtVersion=6
